[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg2 = "*"
validate-email = "*"
six = "*"
xlwt = "*"
weasyprint = "*"

[dev-packages]

[requires]
python_version = "3.11"
