{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Income</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <form action="{% url 'add-income' %}" method="post" >
                    {% include 'partials/_messages.html' %}
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="amount" class="form-label">Amount</label>
                        <input 
                            type="number" 
                            name="amount" 
                            id="amount" 
                            class="form-control form-control-sm"
                            value="{{values.amount}}"
                        />
                    </div>
                    <div class="form-group mb-2">
                        <label for="description" class="form-label">Description</label>
                        <input 
                            type="text"    
                            name="description" 
                            id="description" 
                            class="form-control form-control-sm"
                            value="{{values.description}}"
                        />
                    </div>
                    <div class="form-group mb-2">
                        <label for="source" class="form-label" >Sources</label>
                        <select name="source" id="source" class="form-select">
                            
                            {% for source in sources  %}
                                <option value="{{source.name}}" name="source">
                                    {{source.name}}
                                </option>
                            {% endfor %}
                                
                        </select>
                    </div>
                    <div class="form-group mb-4">
                        <label for="income_date" class="form-label">Date of Income</label>
                        <input 
                            type="date"   
                            name="income_date" 
                            id="income_date" 
                            class="form-control form-control-sm"
                        />
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                </form>
            </div>
        </div>
    </div>
{% endblock  %}