{% extends 'base.html' %}
{% block content %}
{% include 'partials/_messages.html' %}
<div class="container">
    {% include 'partials/_messages.html' %}
    <h1>Expense List</h1>

    <ul class='list-group' >
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
        <li class='list-group-item'>Drink</li>
    </ul>
</div>
{% endblock  %}