{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
    <div class='row' >
        <div class='col-md-4' ></div>
        <div class='col-md-4' >
            <div class='card mt-5' >
                <div class='card-title text-center py-3' >
                    <h4>Please enter your email to reset password</h4>
                </div>
                <div class='card-body' >
                    <form action="{% url 'request-password' %}" method="post" >
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <div class='form-group mb-2' >
                            <input 
                                type='email'
                                name='email'
                                placeholder='Email'
                                id='emailField'
                                class='form-control form-control-sm'
                                value="{{fieldValues.email}}"
                            />
                        </div>
                        <!-- <div class="invalid-feedback invalid-email-feedback" style="display:none" >
                        </div>
                        <p class="text-sm text-success emailSuccessOutput"></p> -->
                        <input 
                            type='submit'
                            value='Submit'
                            class='btn w-100 btn-primary submit-btn'
                        />
                    </form>
                    <div class="container">
                        <span class="text-lead lead" >
                            Already have an account? <a href="{% url 'login' %}">Login</a>
                        </span><br/>
                        <span class="text-lead lead" >
                            Don't have an account? <a href="{% url 'register' %}">Register</a>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-4' ></div>
    </div>

    <script src="{% static 'js/register.js' %}" ></script>
{% endblock  %}